<!-- Modal -->
<div
  class="modal fade"
  id="deleteModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">
          {{ "deleteDialogDescriptionTitle" | translate }}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        {{ description | translate }} <br />
        {{ "deleteDialogDescription2" | translate }} <br />
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-secondary"
          data-bs-dismiss="modal"
        >
          {{ "cancelButton" | translate }}
        </button>
        <button
          class="btn btn-outline-danger img-button"
          data-bs-dismiss="modal"
          (click)="delete(selectedId)"
        >
          {{ "deleteButton" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
