/* TABLE */
table {
  border-collapse: collapse;
  margin: auto;
}

.tbodyDiv{
  max-height: clamp(5em,70vh,100%);
  overflow: auto;
}
 
td {
  // border: 1px solid #dddddd;
  border: 1px solid rgba(90, 87, 255, 0.1);
  background-color: #F8F9FC;
  vertical-align: middle;
}

th {
  border: 1px solid #dddddd;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  color: #353535;
}

tr {
  border-bottom: 1px solid #dddddd;
}

button:hover {
  background-color: #cdcdcd;
  border-radius: 5px;
}

button:active {
 background-color: #cdcdcd;
 border-radius: 5px;
}

button{
  border: none;
}

/* PAGINATION */
.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
  
.pagination {
  list-style: none;
  display: flex;
  gap: 5px;
  padding: 7px;
  border: 1px solid #E2E5FF;
  border-radius: 50px;
  background: #ffffff;
  
}
  
.pagination li a {
  display: block;
  padding: 5px 12px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}
  
.pagination li a:hover {
  background-color: #000;
  color: #fff;
  border-radius: 50px;
}

svg {
  background-color: #000;
  fill: #fff !important;
  border-radius: 50px;
}
 
.pagination li.active a {
  border-radius: 50px;
  background-color: #000;
  color: #fff;
}
  
.pagination li a i {
  margin: 0 5px;
}

