// form {
//     display: flex;
//     flex-direction: column;
//     gap: 20px;
  
//     .nestedFb {
//       display: flex;
//       flex-direction: column;
//       gap: 10px;
//       div {
//         display: flex;
//         gap: 10px;
//         label {
//           width: 200px;
//         }
//       }
//     }
//   }

.container{
  background-color: #ffffff;
  width: 70%;
  min-width: 420px;
  padding: 35px 50px;
  transform: translate(-50%,-50%);
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 10px;
  box-shadow: 20px 30px 25px rgba(0,0,0,0.15);
}
h1{
  font-size: 30px;
  text-align: center;
  color: #1c093c;
}
// p{
//   position: relative;
//   margin: auto;
//   width: 100%;
//   text-align: center;
//   color: #606060;
//   font-size: 14px;
//   font-weight: 400;
// }
form{
  width: 100%;
  position: relative;
  margin: 30px auto 0 auto;
}
.row{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  grid-gap: 20px 30px;
  margin-bottom: 20px;
}
label{
  color: #1c093c;
  font-size: 14px;
}
textarea,
select{
  width: 100%;
  font-weight: 400;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1.2px solid #c4cae0;
  margin-top: 5px;
}
textarea{
  resize: none;
}
textarea:focus,
select:focus{
  outline: none;
  border-color: #0138B1;
}
button{
  border: none;
  padding: 10px 20px;
  background: linear-gradient(
      130deg,
      #0138B1,
      #0138B1
  );
  color: #ffffff;
  border-radius: 5px;
  margin: 5px 5px 0px 0;
}